@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window div.portal div.character div.health-and-abilities
div.harm-and-armor {
  background-color: $stone;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
