@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window div.portal div.character div.health-and-items
div.harm-and-armor div.armor-and-healing {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  max-width: 10em;
  div.armor {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    div.row {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      margin-bottom: .4em;
    }
  }
  div.healing {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    div.clock {
      height: .2em;
      background: $sky;
      position: relative;
      z-index: 4;
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      svg.clock {
        position: relative;
        z-index: 5;
        margin: 0 .2em;
        top: -.25em;
        font-size: 2em;
        .stroke {
          transition: stroke 1s;
        }
        .mark {
          transition: fill .2s;
          fill: darken($stone, 20%);
          &.checked {
            fill: $sun;
          }
        }
        &:not(.disabled) {
          .mark.highlight {
            fill: $sky;
            &.checked {
              fill: $fire;
            }
          }
        }
      }
      &:not(.unlocked) {
        svg.clock {
          .stroke {
            stroke: $sky;
          }
          .mark.checked {
            fill: $sky;
          }
        }
      }
    }
    button.tickbar {
      &:focus {
        div.label {
          color: lighten($sky, 20%);
        }
      }
      div.label {
        color: $sky;
        &:after {
          background: $sky;
        }
      }
      div.tick {
        svg polygon {
          stroke: $sky;

        }
        &.checked svg polygon {
          fill: $sky;
        }
      }
    }
  }
  button.tickbar {
    &.armor {
      div.label {
        z-index: 6;
        &:after {
          z-index: 5;
        }
      }
      div.tick {
        z-index: 4;
      }
    }
    &.armor, &.heavy {
      flex: 1 1 auto;
    }
    div.container {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-end;
    }
    div.label {
      color: $sun;
      height: auto;
      padding: .1em .2em;
      z-index: 3;
      position: relative;
      flex: 1 1 auto;
      text-align: right;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: .2em;
        z-index: 2;
        background: $sun;
        box-shadow: $shadow;
      }
    }
    div.tick {
      font-size: 1.5em;
      &.checked svg polygon {
      }
    }
    &:not(:disabled) {
      cursor: pointer;
      &:focus {
        div.label {
          color: lighten($fire, 30%);
        }
      }
      &:hover {
        div.label {
          color: $fire;
          &:after {
            background: $fire;
          }
        }
        div.tick {
          svg polygon {
            stroke: $fire;
          }
          &.checked svg polygon {
            fill: $fire;
          }
        }
      }
      &:active {
        div.label {
          color: lighten($fire, 30%);
          &:after {
            background: lighten($fire, 30%);
          }
        }
        div.tick {
          svg polygon {
            stroke: lighten($fire, 30%);
          }
          &.checked svg polygon {
            fill: lighten($fire, 30%);
          }
        }
      }
    }
  }
}
