@import './colors.scss';
@import 'games/blades-in-the-dark/fonts.scss';

#blades-in-the-dark {
  background-color: $stone;
  font: $h1;

  ::-webkit-scrollbar {
    width: .25em;
    padding: 1em;
  }
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background: $stone;
  }
  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font: $h1;
    &:focus {
      outline: none;
    }
  }
}
