@import 'games/blades-in-the-dark/colors';

#game-app #blades-in-the-dark #chat {
  background-color: $sun;
  color: $mud;
  button#toggle {
    text-shadow: -1px 1px 1px fade-out($stone, .7);
    box-shadow: 0 1px 1px 1px fade-out($stone, .8);
    color: $sky;
    background-color: $sun;
    &.notify {
      background-color: $sky;
      color: $sun;
    }
  }
  div#body {
    div#conversation {
      div.message {
        h1 {
          border-bottom: 1px solid $stone;
        }
        div.roll {
          text-align: center;
          div.header {
            color: $sky;
            margin-top: .4em;
          }
          div.dice {
            color: $sky;
            margin: 0 .2em;
            position: relative;
            font-family: 'Icomoon';
            font-size: 1.5em;
            bottom: -0.15em;
            &.zero {
              color: $fire;
            }
          }
          div.number {
            margin-top: .2em;
            font-family: 'League Spartan';
            font-size: 3em;
            text-align: center;
            color: $sky;
            &.hit {
              color: $fire;
            }
            &.miss {
              color: $stone;
            }
          }
        }
      }
    }
    div#divider {
      border: 1px inset $mud;
    }
    textarea#input {
      background-color: $sun;
    }
  }
}
