// from http://www.colourlovers.com/palette/3352142
$fireworth: hsl(21, 88%, 52%);
$cold-breath: hsl(203, 57%, 97%);
$rained-flowers-today: hsl(201, 98%, 44%);
$deep: hsl(201, 98%, 23%);
$necessita: hsl(201, 100%, 11%);

$stone: hsl(0, 0%, 24%);
$mud: hsl(26, 25%, 39%);
$sand: hsl(32, 78%, 72%);
$sun: lighten($sand, 20%);
$sky: hsl(172, 20%, 54%);
$fire: hsl(3, 56%, 54%);

@function stripes($fade, $desaturate, $width) {
  @return desaturate(fade-out($fireworth,            $fade), $desaturate) 0px,
          desaturate(fade-out($fireworth,            $fade), $desaturate) ($width),
          desaturate(fade-out($necessita,            $fade), $desaturate) ($width),
          desaturate(fade-out($necessita,            $fade), $desaturate) ($width * 2),
          desaturate(fade-out($rained-flowers-today, $fade), $desaturate) ($width * 2),
          desaturate(fade-out($rained-flowers-today, $fade), $desaturate) ($width * 3),
          desaturate(fade-out($deep,                 $fade), $desaturate) ($width * 3),
          desaturate(fade-out($deep,                 $fade), $desaturate) ($width * 4);
}

@mixin stripes-background($fade-front, $fade-back, $desaturate, $width) {
  background-color: $cold-breath;
  background-image:
    repeating-linear-gradient(45deg, stripes($fade-front, $desaturate, $width)),
    repeating-linear-gradient(135deg, stripes($fade-back, $desaturate, $width));
}
