// from http://www.colourlovers.com/palette/3352142
$stone: hsl(0, 0%, 24%);
$mud: hsl(26, 25%, 39%);
$sand: hsl(32, 78%, 72%);
$sun: lighten($sand, 20%);
$sky: hsl(172, 20%, 54%);
$fire: hsl(3, 56%, 54%);
