@import 'games/blades-in-the-dark/colors.scss';

#blades-in-the-dark #window div.dice-roller {
  z-index: 30;
  position: absolute;
  left: .25em;
  top: .25em;
  background-color: fade-out($sun, .2);
  border-radius: 2em;
  box-shadow: -2px 2px 2px 1px fade-out(darken($stone, 50%), .6);
  padding: 0 0 0 0;
  div.dice {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: left;
    // padding-left :.5em;
    div.container {
      z-index: 9;
      position: relative;
      width: 2.5em;
      transition-property: width;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.730, -0.300, 0.375, 1.360);
      font-size: 1.25em;
      button {
        cursor: pointer;
        margin: .5em;
        color: $sun;
        background-color: $fire;
        border: none;
        font-family: 'League Spartan';
        padding: .2em .3em 0 .3em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 1.5em;
        overflow: show;
        text-align: center;
        left: 0;
        z-index: 10;
        &:focus {
          background-color: lighten($fire, 20%      );
          outline: none;
        }
        &:hover {
          background-color: $sand;
        }
        &:active {
          background-color: $sky;
        }
        &.toggle {
          z-index: 11;
          font-family: 'icomoon';
          padding: 0 0 0 .05em;
          width: 2em;
          height: 2em;
          margin: .25em;
        }
        &.roll {}
      }
    }
  }
  &.off {
    div.dice {
      div.container.roll {
        width: 0;
      }
    }
  }
}
