@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark svg.clock {
  .mark {
    // fill: darken($stone, 20%);
    stroke: none;
  }
  .stroke {
    stroke: $sun;
    fill: none;
    pointer-events: none;
  }
  .center {
    fill: lighten($stone, 10%);
    stroke: none;
    pointer-events: none;
  }
  -webkit-filter: drop-shadow($text-shadow);
  filter: drop-shadow($text-shadow);
  -webkit-svg-shadow: $text-shadow;
}
