@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window div.portal {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  // height: 20em;
  height: 100%;
  flex: 1 1 auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em 1em 3em 1em;
  &::-webkit-scrollbar-thumb {
    background: $sun;
  }
  @media only screen and (max-width: 800px) {
    // height: 50%;
  }

}
