@import 'games/blades-in-the-dark/common/colors.scss';
@import 'games/blades-in-the-dark/common/fonts.scss';



#blades-in-the-dark #window div.portal div.character
div.details {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  div.block {
    flex: 1 1 auto;
    max-width: 38em;
    margin: 0 1em 1em 1em;
    * {
      &::selection {
        background: $sun; /* WebKit/Blink Browsers */
        color: $stone;
      }
      &::-moz-selection {
        background: $sun; /* Gecko Browsers */
        color: $stone;
      }
    }
    div.header {
      color: $sand;
    }
    div.body {
      cursor: auto;
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      font: $body;
      font-size: 0.8em;
      color: $sun;
    }
  }
}
