@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window div.portal div.character div.health-and-abilities {
  display: flex;
  flex-flow: row wrap;
  flex: 100 1 auto;
  margin: 0 1em;
  > div.column {
    margin-top: .3em;
    flex: 1 1 auto;
    max-width: 40em;
    display: flex;
    flex-flow: column;
    &.stress {
      flex: 100 1 auto;
    }
    &.armor {
      padding-bottom: 1em;
    }
  }
}
