@import 'games/blades-in-the-dark/common/colors.scss';
@import 'games/blades-in-the-dark/common/fonts.scss';

#blades-in-the-dark #window div.portal div.character
div.strange-friends {
  flex: 1 1 auto;
  // min-width: 15em;
  div.friend {
    max-width: 40em;
    width: 100%;
    margin-bottom: 1em;
    div.header {
      font: $h1;
      font-size: 1.25em;
      display: flex;
      flex-flow: row wrap;
      margin-left: -2em;
      white-space: nowrap;
      div.icon {
        width: 1em;
        margin: 0 .5em;
        svg {
          fill: darken($stone, 15%);
          &.enemy {
            stroke: $fire;
          }
          &.friend {
            stroke: $sky;
          }
          -webkit-filter: drop-shadow($text-shadow);
          filter: drop-shadow($text-shadow);
          -webkit-svg-shadow: $text-shadow;
        }
      }
      div.name {
        margin-right: .75em;
        color: lighten($sky, 15%);
      }
      div.title {
        white-space: nowrap;
        color: $sky;
      }
    }
  }
}
