@import 'games/blades-in-the-dark/colors.scss';

#blades-in-the-dark #window div.portal div.character {
  div.title {
    font-size: 2em;
    font-family: 'Rajdhani';
    font-weight: 700;
    color: $sun;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 1em;
    div {
      white-space: nowrap;
      margin: .25em;
    }
    div.name {
      color: $sun;
    }
    div.playbook {
      color: $sand;
    }
    div.alias {
      color: $fire;
    }
  }
}
