@import 'games/blades-in-the-dark/colors.scss';

#blades-in-the-dark #window div.portal div.character {
  div.title {
    font-size: 2em;
    font-family: 'Rajdhani';
    font-weight: 700;
    color: $sun;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 1em;
    div {
      white-space: nowrap;
      margin: .25em;
    }
    div.name {
      color: $sun;
    }
    div.playbook {
      color: $sand;
    }
    div.alias {
      color: $fire;
    }
  }
  div.stats {
    font-family: 'Rajdhani';
    font-weight: 700;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    div.dot {
      font-size: .8em;
      font-family: 'icomoon';
      position: relative;
      margin: 0.1em;
    }
    div.checkbox {
      font-size: .5em;
      width: 1em;
      height: 1em;
      background-color: $sun;
      margin: 0.4em;
    }
    div.money {
      margin-bottom: 1em;
      font-size: .8em;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      div.column {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        div.row {
          height: 1em;
          display: flex;
          flex-flow: row nowrap;
          &.stash {
            align-self: flex-end;
            // padding-right: 1em;
          }
          &.coin {
            padding-right: .7em;
          }
          div.label {
            font-size: .8em;
            &.stash {
              align-self: flex-end;
              padding: 0 .25em 0 0;
              color: $sky;
            }
            &.coin {
              color: $sand;
            }
          }
        }
        &.stash {
          div.checkbox:not(.end) {
            background-color: darken($stone, 5%);
            &.checked {
              background-color: $sky;
            }
          }
        }
        div.checkbox {
          background-color: lighten($stone, 10%);
          &.checked {
            background-color: $sand;
          }
        }
        div.checkbox.checked {
        }
      }
    }
    div.stat {
      width: 10.5em;
      max-width: 11em;
      margin: .5em;
      flex: 1 0 auto;
      div.header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        background-color: $sun;
        color: $stone;
        padding: 0 .25em;
        box-shadow: -2px 2px 2px 1px fade-out(darken($stone, 50%), .6);
        div.name {

        }
        div.dots {
          display: flex;
          flex-flow: row nowrap;
          font-size: .8em;
          color: fade-out($stone, .8);
          div.dot.checked {
            // color: $stone;
            color: fade-out($stone, .3);
            // color: $stone;
          }
        }
      }
      div.actions {
        color: $sun;
        font-weight: 500;
        font-size: 0.8em;
        margin: 0 .5em;
        display: flex;
        flex-flow: row nowrap;
        div.dot {
          color: darken($stone, 5%);
          &.checked {
            color: $sun;
          }
        }
        div.first {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          margin-right: .2em;
          padding-right: .2em;
          border-right: 1px solid $sun;
        }
        div.rest {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          div.action {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            div.name {
              margin-left: .3em;
            }
          }
        }
      }
    }
  }
}
