@import "~blades/common/colors";
@import "~blades/common/fonts";

@mixin label {
    font: $h1;
    padding: 0 .25em;
    position: relative;
    z-index: 5;
    background: $sun;
    color: $stone;
    box-shadow: $shadow;
}