@import 'utils/colors';

#app #home #games {
  width: 100%;
  max-width: 850px;
  min-height: 100vh;
  padding: 8em 8em 0 8em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
  position: relative;
  font-size: 10px;
  pointer-events: none;
  .back.anim {
    font-size: 2.5em;
    position: absolute;
    top: 2em;
    left: 4.1em;
    pointer-events: auto;
    transition: top .7s cubic-bezier(0.7,-0.7,0.4,1.8);
    &.off {
      top: -2em;
    }
  }
  .children {
    pointer-events: auto;
    width: 100%;
  }
}

@media only screen
  and (max-device-width: 600px) {
  #app #home #games {
    font-size: 7px;
    padding: 7em 2em 0 2em;
    div.anim.back {
      left: 1.7em;
      top: 1.5em;
    }
  }
}
