@import 'utils/colors.scss';
@import 'games/world-of-adventure/colors.scss';

#app #home #games .list-container .list div.game {
  pointer-events: auto;
  position: relative;
  padding: 3em 1em 3em 7em;
  margin: 0 0 -1em 0;
  height: 7em;
  transition-property: left, height, padding, margin;
  transition-duration: .7s;
  max-width: 850px;
  left: 0vw;
  transition-timing-function: cubic-bezier(0.730, -0.300, 0.375, 1.360);
  &.off {
    height: 1em;
    padding: 0 1em 0 7em;
  }
  .cancel {
    position: absolute;
    z-index: 1;
    transition: left 0.7s cubic-bezier(0.730, -0.300, 0.375, 1.360);
    left: -2em;
    top: 1.5em;
    &.off {
      left: 1em;
    }
  }
  .icon {
    pointer-events: auto;
    position: absolute;
    left: 0em;
    top: 1.5em;
    width: 6em;
    height: 6em;
    border: 1em solid $hearts;
    border-radius: 1500vh;
    box-shadow: $box-shadow, $border-shadow;
    display: inline-block;
    flex: none;
    z-index: 2;
    @include stripes-background(.8, .8, 20%, 20px);
    // background-color: $cold-breath;
    // background-image: $background-image;
    transition-property: left, width, height, top, margin, border-width;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.730, -0.300, 0.375, 1.360);
    &.off, &.dot {
      margin: 3em;
      width: 0;
      height: 0;
      // top: 4.1em;
      // left: 2.8em;
    }
    &.closed:not(.dot) {
      width: 0;
      height: 0;
      border-width: 4em;
    }
    &.off {
      left: -50vw;
    }
    &.off, &.dot.entering {
      box-shadow: $box-shadow;
      background-color: $hearts;
      background-image: none;
    }
    &:not(.dot):not(.off):not(.closed) {
      cursor: pointer;
    }
  }
  .box-container {
    pointer-events: auto;
    text-align: left;
    .box {
      flex: 1;
      font-size: 3em;
      color: $hearts-light;
      text-shadow: $text-shadow;
      padding: .3em 0px .1em .6em;
      font-family: 'League Spartan';
      display: inline-block;
      white-space: nowrap;
      float: right;
      overflow: visible;
      text-decoration: none;
      &:not(.off) {
        cursor: pointer;
      }
    }
    overflow: hidden;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.730, -0.300, 0.375, 1.360);
  }
}
