@import 'utils/colors';

#app {
  #home {
    .home-button {
      font-family: 'Icomoon';
      color: $hearts-light;
      background-color: $hearts;
      box-shadow: $box-shadow;
      border-radius: .4em;
      font-size: 2.5rem;
      padding: .2em;
      width: auto;
      height: 1em;
      width: 1em;
      text-align: center;
      text-decoration: none;
      &:not(.off) {
        cursor: pointer;
      }
    }
    background-color: transparent;
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
  }
}
