@import 'games/world-of-adventure/colors';

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

#world-of-adventure #chat {
  background-color: $cold-breath;
  color: $necessita;
  box-shadow: -2px 0px 2px 1px fade-out($necessita, .5);
  button#toggle {
    text-shadow: -1px 1px 1px fade-out($necessita, .7);
    box-shadow: 0 1px 1px 1px fade-out($necessita, .8);
    color: $rained-flowers-today;
    background-color: $cold-breath;
    &:focus {
      outline: none;
    }
    &.notify {
      background-color: $rained-flowers-today;
      color: $cold-breath;
    }
  }
  div#body {
    div#conversation {
      div.message {
        h1 {
          border-bottom: 1px solid $necessita;
        }
        div.roll {
          text-align: center;
          div.header {
            color: $rained-flowers-today;
            span.dice {
              margin: 0 .2em;
              position: relative;
              font-family: 'Icomoon';
              font-size: 1.5em;
              bottom: -0.15em;
            }
          }
          div.number {
            margin-top: .2em;
            font-family: 'League Spartan';
            font-size: 3em;
            text-align: center;
            .loading {
              -webkit-transform-origin: 50% calc(50% + .8px);
              transform-origin: 50% calc(50% + 0.8px);
              display: inline-block;
              text-align: center;
              width: 1em;
              height: 1em;
              vertical-align: middle;
              color: $rained-flowers-today;
              font-family: 'Icomoon';
              // animation: spin 1s infinite linear;
              animation: spin 1s infinite cubic-bezier(.5, -0.3, .5, 0.3);
            }
            &.hit {
              color: $rained-flowers-today;
            }
            &.miss {
              color: $fireworth;
            }
          }
        }
      }
    }
    div#divider {
      border: 1px inset $deep;
    }
    textarea#input {
      background-color: $cold-breath;
    }
  }
}
