$icomoon-font-path: "." !default;

$icon-moon: "\4d";
$icon-eye: "\45";
$icon-fire: "\46";
$icon-star: "\2a";
$icon-user: "\75";
$icon-check: "\63";
$icon-close: "\78";
$icon-remove: "\78";
$icon-times: "\78";
$icon-power-off: "\70";
$icon-cog: "\67";
$icon-gear: "\67";
$icon-clock-o: "\43";
$icon-edit: "\65";
$icon-arrow-left: "\3c";
$icon-arrow-right: "\3e";
$icon-plus: "\2b";
$icon-minus: "\2d";
$icon-caret-down: "\44";
$icon-circle-o: "\4f";
$icon-circle: "\40";
