@font-face {
  font-family: 'Marvin Visions';
  font-weight: 'bold';
  src: url('./marvinvisions/MarvinVisions-Bold.eot');
  src: url('./marvinvisions/MarvinVisions-Bold.woff') format('woff'), 
       url('./marvinvisions/MarvinVisions-Bold.woff2') format('woff2');
}