@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark .check.dot {
  font-size: .8em;
  font-family: 'icomoon';
  position: relative;
  margin: 0.1em;
  width: .9em;
  height: .9em;
  border-radius: 2em;
  // box-sizing: border-box;
  padding: 0;
  background: darken($stone, 5%);
  &.checked {
    background: $sun;
  }
  &:not(:disabled) {
    cursor: pointer;
    &.checked {
      &:focus {
        background: lighten($fire, 30%);
      }
      &:hover {
        background: $fire;
      }
      &:active {
        background: lighten($fire, 30%);
      }
    }
    &:focus {
      background: lighten($stone, 10%);
    }
    &:hover {
      background: darken($fire, 20%);
    }
    &:active {
      background: lighten($fire, 30%);
    }
  }
}
