@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window div.portal div.character div.stats {
  font-family: 'Rajdhani';
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 950px) {
    flex-flow: row wrap;
  }
  @media only screen and (max-width: 950px) {
    font-size: 1.5em;
  }
  div.stat {
    width: 10.5em;
    max-width: 11em;
    margin: .5em;
    flex: 1 0 auto;
    div.header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      background: $sun;
      transition: background-color 1s;
      color: $stone;
      padding: 0 .25em;
      box-shadow: -2px 2px 2px 1px fade-out(darken($stone, 50%), .6);
      &.highlight {
        background: $sand;
        div.dots div.dot {
          border-color: $sand;
        }
      }
      div.dots {
        display: flex;
        flex-flow: row nowrap;
        font-size: .8em;
        button:not(:disabled) {
          &:focus div.dot {
            &.checked:last-child {
              // background: lighten($fire, 20%);
              border: 2px solid $fire;
              z-index: 2;
              // margin: 0;
            }
            &:not(.checked):first-child {
              border: 2px solid $fire;
              z-index: 2;
              // margin: 0;
            }
          }
          &:hover div.dot {
            &.checked:last-child {
              background: $fire;
            }
            &:not(.checked):first-child {
              background: darken($fire, 20%);
            }
          }
          &:active div.dot {
            &.checked:last-child {
              background: lighten($fire, 30%);
            }
            &:not(.checked):first-child {
              background: lighten($fire, 30%);
            }
          }
        }
        div.dot {
          transition: border-color .5s;
          position: relative;
          margin: -1px;
          border: 2px solid $sun;
          background: mix($sun, $stone, 80%);
          &.checked {
            background: mix($sun, $stone, 30%);
          }
        }
      }
    }
    div.actions {
      color: $sun;
      font-weight: 500;
      font-size: 0.8em;
      margin: 0 .5em;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      button.action {
        color: $sun;
        div.container {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          box-sizing: border-box;
          // height: 110%;
        }
        div.name {
          transition: color .5s;
          margin-left: .3em;
          font-weight: 500;
        }
        div.dot {
          font-family: 'icomoon';
          font-size: .8em;
          margin: 0.1em;
          width: .9em;
          background: darken($stone, 5%);
          transition: color .5s;
          &.checked {
            background: $sun;
            &.highlight {
              background: $fire;
            }
          }
        }
        div.divider {
          margin: 0 .2em;
          background: $sun;
          width: 1px;
          align-self: stretch;
        }
        &:not(:disabled) {
          cursor: pointer;
          color: $sand;
          div.dot.active {
            background: $sand;
          }
          &:focus {
            outline: none;
            color: lighten($sand, 20%);
            div.dot.active {
              background: lighten($sand, 20%);
            }
          }
          &.highlight {
            color: $fire;
            div.dot.highlight {
              background: $fire;
            }
          }
          &:active {
            color: lighten($fire, 30%);
            div.dot.active {
              background: lighten($fire, 30%);
            }
          }
        }
      }
    }
  }
}
