@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window div.portal div.character div.stats {
  font-family: 'Rajdhani';
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 950px) {
    flex-flow: row wrap;
  }
  @media only screen and (max-width: 950px) {
    font-size: 1.5em;
  }
  div.stat {
    width: 10.5em;
    max-width: 11em;
    margin: .5em;
    flex: 1 0 auto;
    div.header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      background: $sun;
      transition: background-color 1s;
      color: $stone;
      padding: 0 .25em;
      box-shadow: -2px 2px 2px 1px fade-out(darken($stone, 50%), .6);
      &.highlight {
        background: $sand;
      }
      div.dots {
        display: flex;
        flex-flow: row nowrap;
        font-size: .8em;
        button.dot {
          color: fade-out($stone, .8);
          &.checked {
            color: fade-out($stone, .3);
          }
          &:not(:disabled) {
            cursor: pointer;
            &:focus {
              color: lighten($fire, 30%);
            }
            &.highlight {
              color: darken($fire, 20%);
            }
            &:active {
              color: lighten($fire, 10%);
            }
            &.checked {
              &:focus {
                color: fade-out($fire, 0);
              }
              &.highlight {
                color: $fire;
              }
              &:active {
                color: lighten($fire, 10%);
              }
            }
          }
        }
      }
    }
    div.actions {
      color: $sun;
      font-weight: 500;
      font-size: 0.8em;
      margin: 0 .5em;
      display: flex;
      flex-flow: column nowrap;
      button.action {
        color: $sun;
        div.container {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
        }
        div.name {
          transition: color .5s;
          margin-left: .3em;
          font-weight: 500;
        }
        div.dot {
          font-family: 'icomoon';
          font-size: .8em;
          margin: 0.1em;
          width: .9em;
          color: darken($stone, 5%);
          transition: color .5s;
          &.checked {
            color: $sun;
            &.highlight {
              color: $fire;
            }
          }
        }
        div.divider {
          margin: 0 .2em;
          background: $sun;
          width: 1px;
          align-self: stretch;
        }
        &:not(:disabled) {
          cursor: pointer;
          color: $sand;
          div.dot.active {
            color: $sand;
          }
          &:focus {
            outline: none;
            color: lighten($sand, 20%);
            div.dot.active {
              color: lighten($sand, 20%);
            }
          }
          &.highlight {
            color: $fire;
            div.dot.highlight {
              color: $fire;
            }
          }
          &:active {
            color: lighten($fire, 30%);
            div.dot.active {
              color: lighten($fire, 30%);
            }
          }
        }
      }
    }
  }
}
