@import 'games/blades-in-the-dark/colors.scss';

#blades-in-the-dark {
  button.check.checkbox {
    $outset: -2px 2px 1px 0px fade-out(darken($stone, 50%), .7);
    $inset: -1px 1px 1px 1px fade-out(darken($stone, 50%), .5) inset;
    font-size: .5em;
    width: 1em;
    height: 1em;
    background: darken($stone, 5%);
    margin: 0.4em;
    box-shadow: $inset;
    &.checked {
      box-shadow: $outset;
      background: $sun;
    }
    &:hover {
      background: $fire;
    }
    &:active {
      background: $sky;
    }
    &:focus {
      outline: 1px solid $fire;
    }
  }
}
