@import 'games/blades-in-the-dark/colors.scss';

#blades-in-the-dark #window div.portal div.character div.stats div.stat div.money {
  margin-bottom: 1em;
  font-size: .8em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  div.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    div.row {
      height: 1em;
      display: flex;
      flex-flow: row nowrap;
      &.stash {
        align-self: flex-end;
      }
      &.coin {
        padding-right: .7em;
      }
      button.label {
        font-size: .8em;
        text-shadow: $text-shadow;
        &.stash {
          align-self: flex-end;
          padding: 0 .25em 0 0;
          color: $sky;
          &:not(:disabled) {
            &:focus {
              color: lighten($sky, 15%);
            }
            &:hover {
              color: $fire;
            }
            &:active {
              color: lighten($fire, 30%);
            }
          }
        }
        &.coin {
          color: $sand;
          &:not(:disabled) {
            &:focus {
              color: lighten($sand, 15%);
            }
            &:hover {
              color: $fire;
            }
            &:active {
              color: lighten($fire, 30%);
            }
          }
        }
      }
    }
    &.stash div.row div.start {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      button.check.checkbox {
        background-color: darken($stone, 5%);
        &.checked {
          background-color: $sky;
        }
        &:not(:disabled) {
          &.checked {
            &.highlight {
              background: $fire;
            }
            &:active {
              background: lighten($fire, 30%);
            }
          }
          &.highlight {
            background: darken($sky, 20%);
          }
          &:active {
            background: lighten($fire, 30%);
          }
        }
      }
    }
    button.check.checkbox {
      background-color: lighten($stone, 10%);
      &.checked {
        background-color: $sand;
      }
      &:not(:disabled) {
        &.checked {
          &.highlight {
            background: $fire;
          }
          &:active {
            background: lighten($fire, 30%);
          }
        }
        &.highlight {
          background: darken($sand, 40%);
          // background: darken($fire, 20%);
        }
        &:active {
          background: lighten($fire, 30%);
        }
      }
    }
    div.checkbox.checked {
    }
  }
}
