@import 'games/blades-in-the-dark/colors.scss';
@import 'games/blades-in-the-dark/fonts.scss';

#blades-in-the-dark #window div.portal div.character div.health-and-items
div.stress-and-trauma {
  display: flex;
  flex-flow: column nowrap;
  .trauma-list {
    font-size: .8em;
    flex: 0 0 auto;
    height: 2.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition-property: height, margin;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    .trauma {
      margin: 0 .5em;
    }
    button.trauma {
      color: $fire;
      text-shadow: $text-shadow;
      &:not(:disabled) {
        cursor: pointer;
        &:focus {
          color: lighten($fire, 20%);
        }
        &:hover {
          color: $sky;
        }
        &:active {
          color: lighten($sky, 30%);
        }
      }
    }
    button.plus {
      margin: .2em -.2em .4em .2em;
      font: $icon;
      font-size: .75em;
      color: $sun;
      background: $sky;
      border-radius: 2em;
      padding: .4em;
      box-shadow: $shadow;
    }
    &.off {
      margin-top: 1em;
      height: 0;
    }
  }
}
