@import 'games/blades-in-the-dark/common/colors.scss';

#blades-in-the-dark #window {
  position: relative;
  font-size: 20px;
  width: 100%;
  max-height: 100%;
  @media only screen and (max-width: 800px) {
    font-size: 16px;
    margin-top: 2em;
  }
  #tabs {
    font-family: 'Rajdhani';
    font-weight: 700;
    position: absolute;
    bottom: 0;
    height: 2em;
    width: 100%;
    display: flex;
    font-size: .75em;
    flex-direction: row;
    align-items: center;
    background-color: $stone;
    box-shadow: 0 0 1em 1em $stone;
    z-index: 100;
    .tab {
      color: $sun;
      background-color: $mud;
      text-decoration: none;
      box-shadow: -2px 2px 2px 1px fade-out(darken($stone, 50%), .6);
      border-radius: .5em;
      padding: 0em .4em;
      margin: 0 .5em;
      &.active {
        color: $fire;
        background-color: $sun;
      }
      &:not(.active) {
        cursor: pointer;
        &:hover {
          background-color: $sand;
        }
        &:focus {
          color: $mud;
        }
      }
    }
  }
}
