@import 'blades/common/colors.scss';

#blades-in-the-dark {
  .check.tick {
    font-size: 1em;
    width: auto;
    width: .5em;
    height: 1.2em;
    &.checked svg polygon {
      fill: $sun;
    }
    svg {
      overflow: visible;
      // margin: .07em .06em 0.1em 0.044em;
      polygon {
        stroke: $sun;
        fill: darken($stone, 10%);
      }
      -webkit-filter: drop-shadow($text-shadow);
      filter: drop-shadow($text-shadow);
      -webkit-svg-shadow: $text-shadow;
    }
  }
  .check-array {
    button:not(:disabled) {
      &:focus .tick {
        &.checked:last-child svg polygon {
          fill: lighten($fire, 30%);
        }
        &:not(.checked):first-child svg polygon {
          stroke: lighten($fire, 30%);
        }
      }
      &:hover .tick {
        &.checked:last-child svg polygon {
          fill: $fire;
          stroke: $fire;
        }
        &:not(.checked):first-child svg polygon {
          fill: darken($fire, 20%);
        }
      }
      &:active .tick {
        &.checked:last-child svg polygon {
          fill: lighten($fire, 30%);
        }
        &:not(.checked):first-child svg polygon {
          fill: lighten($fire, 30%);
        }
      }
    }
  }
}
