@import 'utils/colors';

#optionsMenu {
  $right: 1em;
  $num: 4;
  $num-dividers: 1;
  $height: 1.8em * $num + .2em * $num-dividers;
  $padding: 1em;
  $adjustment: 1.8em * .1;
  $hidden: -$padding - $height - .4em ;
  $closed: -$padding - $height + 1.8em;
  $open: -$padding;
  $label-left-anim: left .15s ease-in-out;
  $label-easing: cubic-bezier(0.730, -0.300, 0.375, 1.360);
  // font-size: 36px;
  color: red;
  top: 0;
  right: $right;
  position: absolute;
  z-index: 20;
  font-size: 20px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  &.hidden {
    .banner {
      top: $hidden;
      transition-delay: .3s;
    }
    .labels {
      .label-container {
        transition: width .3s  0s,
                    $label-left-anim;
        &#name {
          transition: width .3s $label-easing .1s,
                      $label-left-anim;
        }
      }
    }
  }
  &.closed {
    .banner {
      top: $closed;
      transition-delay: .1s
    }
    .labels .label-container {
      transition: width .3s $label-easing 0s,
                  left .2s ease-in-out;
      &#name:not(:hover) {
        transition: width .5s $label-easing .5s,
                    $label-left-anim;
      }

    }
  }
  &.open {
    .banner {
      top: $open;
    }
    .labels .label-container {
      transition: width .5s $label-easing .2s,
                  $label-left-anim;
    }
  }
  .banner {
    transition: top .3s cubic-bezier(0.730, -0.300, 0.375, 1.360);
    box-shadow: $box-shadow;
    background-color: $hearts;
    position: absolute;
    right: 0;
    width: 1.8em;
    height: $height + $padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    .divider {
      height: 0;
      width: 80%;
      display: inline-block;
      border-width: .05em;
      border-style: inset;
      border-color: $hearts-shadow;
      border-radius: .1em;
      margin-top: .1em;
    }
    button {
      &:focus {
        outline: 0;
      }
      padding: 0;
      border: none;
      width: 1.43em;
      height: 1.43em;
      // padding: 0 ($options-size * .01) 0 0;
      display: inline-block;
      position: relative;
      font-size: 1.26em;
      text-align: center;
      font-family: 'Icomoon';
      color: white;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .labels {
    color: white;
    font-family: 'Junction';
    z-index: 1;
    position: absolute;
    right: 1em;
    top: .2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: none;
    .label-container {
      position: relative;
      overflow: hidden;
      height: 1.8em;
      text-align: left;
      float: right;
      padding-left: .5em;
      .label {
        pointer-events: all;
        position: relative;
        white-space: nowrap;
        text-shadow: $text-shadow;
        cursor: pointer;
        padding: .8em (0.8em) .5em 1em;
        margin: -.5em;
        left: 0;
        display: inline-block;
        overflow: visible;
        width: auto;
        font-weight: bold;
      }
    }
  }
}

@media only screen
  and (max-width: 800px) {
  #app #optionsMenu {
    font-size: 16px;
  }
}
